<html>
<head>
  <title>Todo List</title>
  <script
    src="https://code.jquery.com/jquery-3.2.1.js"
    integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
    crossorigin="anonymous"></script>
    <script src="/assets/todo-list.js"></script>
<link rel="stylesheet" href="/assets/styles.css" type="text/css" />

</head>
<body>
  <h1>Add comment</h1>
  <div id="todo-table">
    <form>
      <input type="text"  placeholder="name" name="nme"/><br /></br>
      <textarea rows="5" col="30" id="item" placeholder="comment here..."></textarea><br /><br /><br />
    <br /><br /><br /><br />&nbsp;  <button type="submit">Add comment </button>
    </form>
    <div>
      <% for(var i=0; i < todos.length; i++){ %>
  <div id="box"><div class="leftPanelImg"><img src="http://via.placeholder.com/70x70" /></div>

            <%= todos[i].nme %><br />
          <%= todos[i].item %></br>
        </div><br />

      <% } %>

    </div>

  </div>
</body>
</html>
